<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='shortcut icon' type='image/x-icon' href='favicon.ico' />
    <title>Nodejs, ejs, bootstrap, passport </title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>

    <div class="container">

      <div class="row" style="margin-top:40px;">

        <div class="col-sm-offset-3 col-sm-6 ">
          <form action="/login" method="post" >

            <div class="form-group">
              <label for="">Login</label>
              <input type="email" class="form-control" name="username" placeholder="Email" required>
            </div>

            <div class="form-group">
              <label for="">Senha</label>
              <input type="password" class="form-control" name="password"  placeholder="Senha" required>
            </div>

            <button type="submit" class="btn btn-default">Enviar</button>

          </form>

        </div>

      </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" charset="utf-8"></script>
</html>
